#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 1.5rem; 
  flex-wrap: wrap;
  padding: 1rem;
}

.product-card {
  width: 220px; 
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  padding: 0.8rem; 
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 100%;
  height: 250px; /
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.product-card h4 {
  margin-top: 1rem;
  font-size: 1rem; 
  color: #333;
}

.product-card p {
  color: #555;
  font-size: 0.85rem; 
  margin: 0.5rem 0;
}

.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem; 
  margin-top: 1rem;
}

.quantity-control button {
  padding: 0.4rem 0.8rem; 
  background-color: #646cff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem; 
  transition: background-color 0.3s ease;
}

.quantity-control button:hover {
  background-color: #5058d4;
}


.quantity-control button.disabled {
  background-color: #bdbdbd;  
  cursor: not-allowed;
}

.quantity-control button:disabled {
  background-color: #da4c4c;  
  color: #888;  
}

.total {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}


.add-to-cart-global {
  position: fixed; 
  top: 4px;
  right: 4px;
  padding: 0.8rem 1.5rem; 
  background-color: #5dbe00;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem; 
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.add-to-cart-global:hover {
  background-color: #4da700;
}

.cart-button:hover {
  background-color: #fb8c00;
}

.cart-total {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
